﻿@model IEnumerable<MatApp.Models.Material>

@{
    ViewData["Title"] = "Materials Application";
}

<h1>Materials List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ErpCode)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ErpCode)
            </td>
         
           
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">View Material</a> 
            </td>
        </tr>
}
    </tbody>
</table>
